<div class="jumbotron">
    <h1>PATRIMONIO - HOME</h1>
    <p class="lead">Teste para avaliação de conhecimento e habilidade.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Patrimonio/Home</h2>
        <p>Neste teste utilizou-se o <font color="red">EF6</font>, porém a utilização deste framework <font color="red">não é a opção que o autor prefere utilizar</font>, pois diminui o controle sobre o código, o tutor prefere utilizar uma abordagem que não utilize ORMs, e a geração das diversas classes, controladores etc, seja feita manualmente.</p>
        <p>Contudo como o mercado tem demonstrado preferÊncia pela utilização de patterns e ORMs, especialmente EF, Dapper, e similares, julgou-se mais adequado realizar o DESAFIO utilizando-se o EF.</p>
        <p>O autor prefere utilizar ferramentas como o <font color="blue">SqlKata</font>, que permitem um reaproveitamento dos <i>SQL STATEMENTS</i> para diversos SGBDs, contudo sem gerar sobrecarga de processamento significativa.</p>
        <p>Esta aplicação tem por objetivo medir o conhecimento e a habilidade do autor na implementação de API para manutenção de dados em um SGBD SQL-SERVER.</p>
        <p>Os quesitos a serem obeservados parecem ser:</p>
        <ul>
            <li>Conhecimento</li>
            <li>Habilidade</li>
            <li>Organização</li>
            <li>etc</li>
        </ul>
        <p></p>
        <p>Clique na opção API, no menu acima ou botão abaixo, para ver a documentação da API.</p>
        <p></p>
        <p><a class="btn btn-default" href="~/Help">API - <b>Documentação e Exemplos de utilização</b>&nbsp;&raquo;</a></p>
    </div>
</div>
