<div class="jumbotron">
    <h1>Patrimonio</h1>
    <p class="lead">Página Especifica para Patrimonio.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Patrimonio</h2>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Mais... &raquo;</a></p>
    </div>
</div>
